body{
margin:0;
font-family:Arial;
background:#f4f4f4;
text-align:center;
}

header{
background:white;
padding:15px;
font-weight:bold;
}

.hero{
background:url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f");
background-size:cover;
padding:100px 20px;
color:#1f8f63;
}

.hero h1{
font-size:40px;
}

button{
padding:12px 30px;
margin:10px;
border:none;
border-radius:6px;
font-size:16px;
}

.mock{
background:#666;
color:white;
}

.book{
background:#f5a623;
color:white;
}

.tests{
padding:40px;
}

.test-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
padding:20px;
}.tabs{
background:#167c52;
padding:10px;
text-align:center;
}

.tabs a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.test{
background:white;
width:120px;
height:120px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
font-weight:bold;
box-shadow:0 2px 6px rgba(0,0,0,0.2);
}

.about{
background:#167c52;
color:white;
padding:40px;
}

.stats{
display:flex;
justify-content:space-around;
}

.search{
padding:40px;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
padding:20px;
}

.box{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

footer{
background:#0b5f3d;
color:white;
padding:20px;
}

.test span{
font-size:12px;
display:block;
margin-top:5px;
}
